@import url('https://fonts.googleapis.com/css?family=Abel');
:root {
  --mainWhite: black;
  --mainGreen: #80cfa9;
  --mainBlack: #333333;
  --mainRed: #d62828;
  --mainBlue: #11b5e4;
}
body {
  background: var(--mainWhite);
  color: #333333;
  font-family: 'Abel', sans-serif;
}
.btn-green {
  background: transparent;
  color: var(--mainWhite);
}
.btn-green:hover {
  background: var(--mainGreen);
  color: var(--mainBlack);
}
.form-control {
  border-color: var(--mainGreen) !important;
}

.feedback {
  display: none;
}
.item {
  display: flex;
  justify-content: space-between;
}
.item-icon {
  font-size: 1.2rem;
  cursor: pointer;
}
.complete-item {
  color: var(--mainGreen);
}
.complete-item:hover {
  color: var(--mainGreen);
}
.edit-item {
  color: var(--mainBlue);
}
.edit-item:hover {
  color: var(--mainBlue);
}
.delete-item {
  color: var(--mainRed);
}
.delete-item:hover {
  color: var(--mainRed);
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.visibility {
  opacity: 0.5;
}
.showItem {
  display: block;
}
h3{
    color:chartreuse;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 800;
    text-shadow: 30px;
   
}
h5{
    color: chartreuse;
    letter-spacing: 1px;
    
}
.btn{
    background: linear-gradient(90deg, lightgreen, chartreuse, green, lightgreen );
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-size: 400%;
    border-radius: 30px;
    z-index: 1;
}
.btn:hover{
  color: black;
  filter: brightness(50px);
  text-decoration: none;
  animation: animate 8s linear infinite;
}
@keyframes animate {
      0%{
        background-position: 0%;
      }
      100%{
        background-position: 400%;
      }
}

    


